<%- include('header.html') -%>
<script type="application/javascript">
function addPaging(id) {
    $("#paging").empty();
    var next = Number(id) + 1;
    var prev = Number(id) - 1;
    var paging = '';

    if (id > 1){
        paging += '<a class="prev" id="' + prev + '">&#10094;</a>';
    }
    if (id < <%= images.length %>){
        paging += '<a class="next" id="' + next + '">&#10095;</a>';
    }
   $('#paging').append(paging);
}

$(document).ready(function(){
    
    $(document.body).on('click', '.hover-shadow-cursor', function(event) {
         
         event.preventDefault();
         // create a lightbox
         var id = $(this).attr('id');
         var img = '<div class="numbertext">' + id + ' / <%= images.length %></div>';
         img += '<img src="' + $(this).parent().attr('id') + '/full/1000,/0/default.jpg" style="width:100%"/>';
         var caption = $(this).attr('alt');
         
         $('#photo_popup').css("display", "block");
         $('#mySlide').css("display", "block");
         $('#mySlide').append(img);
         addPaging(id);
         
         $('#caption').append(caption);
     });
    
    $(document.body).on('click', '.close', function(event) {
        $('#photo_popup').css("display", "none");
        $("#mySlide").empty();
        $("#caption").empty();
        $("#paging").empty();
    });

    $(document.body).on('click', '.prev', function(event) {
        event.preventDefault();
        var id = $(this).attr('id');
        $("#mySlide").empty();
        $("#caption").empty();
         
         // create a lightbox
         var img = '<div class="numbertext">' + id + ' / 4</div>';
         img += '<img src="' + $("#" + id).parent().attr('id') + '/full/1000,/0/default.jpg" style="width:100%"/>';
         var caption = $("#" + id).attr('alt');
         
         $('#photo_popup').css("display", "block");
         $('#mySlide').css("display", "block");
         $('#mySlide').append(img);
         addPaging(id);
         
         $('#caption').append(caption);
     });
    
    $(document.body).on('click', '.next', function(event) {
       event.preventDefault();
       var id = $(this).attr('id');
       $("#mySlide").empty();
       $("#caption").empty();
        
        // create a lightbox
        var img = '<div class="numbertext">' + id + ' / 4</div>';
        img += '<img src="' + $("#" + id).parent().attr('id') + '/full/1000,/0/default.jpg" style="width:100%"/>';
        var caption = $("#" + id).attr('alt');
        
        $('#photo_popup').css("display", "block");
        $('#mySlide').css("display", "block");
        $('#mySlide').append(img);
        addPaging(id);
        
        $('#caption').append(caption);
    });   
});
</script>
<div id="images">
	<h2 style="text-align:center"><%= name %></h2>
	<p>Description: <%= description %></p> 
	<div class="row">
	   <% images.forEach(function(image,index){ %>
	   <div class="column"><span id="<%= image.url %>"><img src="<%= image.url %>/full/300,/0/default.jpg" alt="<%= image.label %>" class="hover-shadow-cursor" id="<%= index + 1 %>"/></span></div>
	   <% }); %>
	</div>
</div>
<div id="photo_popup" class="modal">
<span class="close cursor">&times;</span>
<div class="modal-content">
    <div id="mySlide"></div>
    <div id="paging">
    </div>

    <div class="caption-container">
      <p id="caption"></p>
    </div>
</div>
</div>
<%- include('footer.html') -%>